{% extends "Base.twig" %}

{% block title %}Add {{ task_name }}{% endblock %}

{% block content %}
	<form id='add_task'>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="{{ task_name }} Name">
		</div>
		<div class="form-group">
			<label for="desc">Description</label>
			<textarea class="form-control" id="desc" name="desc" placeholder="{{ task_name }} description"></textarea>
		</div>
		<div class="form-group">
			<label for="repeat">Repeat After</label>
			<span id='day_wrapper' class='slider-wrapper'>
				<input
						type="text"
						id="repeat_days"
						name="repeat"
						data-provide="slider"
						data-slider-ticks="[1, 7, 14, 21, 30]"
						data-slider-tooltip="always"
						data-slider-step="1"
						data-slider-value="7"
						data-slider-max="30"
				>
			</span>
			<span id='month_wrapper' class='slider-wrapper'>
				<input
						type="text"
						id="repeat_months"
						name="repeat"
						data-provide="slider"
						data-slider-ticks="[1, 3, 6, 9, 12]"
						data-slider-tooltip="always"
						data-slider-step="1"
						data-slider-value="6"
						data-slider-max="12"
				>
			</span>
			<select id='repeat_units' class="form-control">
				<option value='day'>Days</option>
				<option value='month'>Months</option>
			</select>
			<p class="help-block">After how many days should this {{ task_name | lower}} be available to complete again?</p>
		</div>
		<div class="form-group">
			<label for="priority">Priority</label>
			<input
					type="text"
					id="priority"
					name="priority"
					data-provide="slider"
					data-slider-ticks-labels='["low", "high"]'
					data-slider-step="1"
					data-slider-value="3"
			>
		</div>
		<button type="submit" class="btn btn-primary">Add {{ task_name }}</button>
	</form>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/add.css">
{% endblock %}

{% block javascript %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.min.js"></script>
	<script src="/js/add.js"></script>
{% endblock %}
