{% extends "Base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	<h2>{{ title }}</h2>
	<table class='table'>
	{% for log in logs %}
		<tr>
			<td>{{ log.date }}</td>
			<td><a href='/task/{{ log.task_id }}'>{{ log.task_name }}</a></td>
			{% if user.is_admin %}
				<td><a href='/history/{{ log.user_id }}'>{{ log.username }}</a></td>
				<td><a href='/edit_history/{{ log.history_id }}' class='btn btn-primary btn-sm'>Edit</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>
{% endblock %}