{% extends "Base.twig" %}

{% block title %}{{ task_name }}s{% endblock %}

{% block content %}
		<h2>Available {{ task_name }}s</h2>
		{% for task in tasks %}
			<a href='/task/{{ task.task_id }}' 
				 class='btn btn-default task'
				 data-importance="{% if task.priority < 3 %}low{% else %}high{% endif %}">
				{{ task.name }}
				<span class="badge">{{ task.task_value }}</span>
			</a>
		{% endfor %}

		{% if user.is_admin %}
			<a href='/admin' class='btn btn-link'>Admin Links</a>
		{% else %}
			<a href='/history' class='btn btn-link'>Your {{ task_name }} History</a>
		{% endif %}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block javascript %}
	<script src="/js/home.js"></script>
{% endblock %}